.paper {
    align-items: 'center';
}

.form {
    width: '100%';
    margin-top: 10px;
}

.submit {
    margin: (3, 0, 2);
}

.container-fluid {
    margin-top: 1em;
}

header {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}

accordion {
    padding-top: 10px;
    text-align: left;
    font-size: small;
}
.corner-logo {
    padding-bottom: 1em;
    padding-left: 1em;
    text-align: left;
}
