.nav-bar {
    height: 50px;
}

.main-grid {
    position: absolute;
    height: 100%;
}

.column {
    background-color: #eff8fb;
    height: 100%;
    overflow-y: scroll;
    padding: 1em 2em !important;
}
  
.column, .big-column {
    height: 100%;
    overflow-y: scroll;
    padding: 1em 2em !important;
}
  
.card {
    padding: 1em !important;
}
.card .content {
    padding: 0px !important;
    position: relative;
}
.card .content .description {
    margin-bottom: 30px;
}
  
.right-btn {
    position: absolute;
    right: 0px;
    padding: 10px;
}
  